VITE_FIREBASE_API_KEY=AIzaSyAG7LRw6b17YZRA3a5QEJZZvn4aq-KGECE
VITE_FIREBASE_AUTH_DOMAIN=cooli-7a578.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=cooli-7a578
VITE_FIREBASE_STORAGE_BUCKET=cooli-7a578.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=748017257105
VITE_FIREBASE_APP_ID=1:748017257105:web:64dac1007939c048518d30
VITE_API_URL=https://cooli-backend.onrender.com